html, body {
	font-size: 14px;
	font-family: "Open sans", sans-serif;
	margin: 0;
	background-color: #f7f7f7;
}
.add-to-cart-title {
	color: #314d5d;
	text-align: center;
	font-size: 2.3em;
	margin: 70px 0 50px 0;
}
.items-list {
	margin: 50px auto 0 auto;
}
.item {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
	margin: 0 auto 50px auto;
	max-width: 400px;
	background-color: white;
}
.item-preview {
	background-color: white;
	padding: 50px 40px;
	border-radius: 5px;
}
.item-preview img {
	width: 100%;
}
.item-add {
	background-color: white;
	padding:  10px;
	font-size: .8em;
	font-weight: bold;
	color: #314d5d;
	width: 85%;
	margin: 0 auto;
}
.item-size {
	width: 45%;
	margin: 0 2%;
	padding-left: 5px;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	border: 1px solid #a2a2ad;
	border-radius: 2px;
	outline: none;
}
.item-add-btn {
	width: 45%;
	margin: 0 2%;
	float: right;
	border: 1px solid #a2a2ad;
	border-radius: 2px;
	outline: none;
	background-color: white;
	height: 35px;
	text-transform: uppercase;
	transition: all .3s ease;
}
.item-add-btn:hover {
	background-color: #314d5d;
	border: 1px solid #314d5d;
	color: white;
}
.item-add-btn.clicked {
	background-color: #1a272f;
}
.add-cart {
	cursor: pointer;
	padding: 10px;
	position: fixed;
	right: 20px;
	bottom: 30px;
	width: 70px;
	height: 70px;
	background-color: white;
	border: 1px solid rgba(128, 128, 128, 0.19);
    border-radius: 10%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.34);
	box-sizing: border-box;
	
	opacity: 0;
	transition: all 300ms ease;
}
.add-cart.up {
	animation-name: cart-up;
	animation-duration: 300ms;
	opacity: 1;
}
@keyframes cart-up {
	0% {bottom: -50px;}
	50% {bottom: 35px;}
	100% {bottom: 30px;}
}
.add-cart-ico {
	width: 100%;
}
.add-cart-item-num {
	position: absolute;
	top: 5px;
	right: 31%;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #314d5d;
	text-align: center;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 25px;
}