

// Vars
$red_theme: #f44336;
$content_color: #8a8a8a;
$s_title-top: #d1d1d1;


// Mixins
@mixin transition($p) {
  -webkit-transition: $p;
     -moz-transition: $p;
          transition: $p;
}


html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}



// Commons
.c-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}
.selected-section {
  display: block !important;
}


// Main Filter
#main-filter {
  background-color: $red_theme;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

// Loader
#loader {
  //display: none; //none
  background-color: $red_theme;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include transition(opacity 1s ease);
  opacity: 0;
  z-index: 100;
  &.show {
    opacity: 1;
  }
  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:after {
      content: "";
      display: block;
      color: white;
      font-size: 90px;
      text-indent: -9999em;
      overflow: hidden;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin: 72px auto;
      position: relative;
      -webkit-animation: load 1.65s infinite ease, 
                         round 1.65s infinite ease;
              animation: load 1.65s infinite ease, 
                         round 1.65s infinite ease;
    }
  }
}

@-webkit-keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                0 -0.83em 0 -0.42em, 
                0 -0.83em 0 -0.44em, 
                0 -0.83em 0 -0.46em, 
                0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                0 -0.83em 0 -0.42em, 
                0 -0.83em 0 -0.44em, 
                0 -0.83em 0 -0.46em, 
                0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                -0.087em -0.825em 0 -0.42em, 
                -0.173em -0.812em 0 -0.44em, 
                -0.256em -0.789em 0 -0.46em, 
                -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em,
                -0.338em -0.758em 0 -0.42em, 
                -0.555em -0.617em 0 -0.44em, 
                -0.671em -0.488em 0 -0.46em, 
                -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                -0.377em -0.74em 0 -0.42em, 
                -0.645em -0.522em 0 -0.44em, 
                -0.775em -0.297em 0 -0.46em, 
                -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                0 -0.83em 0 -0.42em, 
                0 -0.83em 0 -0.44em, 
                0 -0.83em 0 -0.46em, 
                0 -0.83em 0 -0.477em;
  }
}

@keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                0 -0.83em 0 -0.42em, 
                0 -0.83em 0 -0.44em, 
                0 -0.83em 0 -0.46em, 
                0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                0 -0.83em 0 -0.42em, 
                0 -0.83em 0 -0.44em, 
                0 -0.83em 0 -0.46em, 
                0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                -0.087em -0.825em 0 -0.42em, 
                -0.173em -0.812em 0 -0.44em, 
                -0.256em -0.789em 0 -0.46em, 
                -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                -0.338em -0.758em 0 -0.42em, 
                -0.555em -0.617em 0 -0.44em, 
                -0.671em -0.488em 0 -0.46em, 
                -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                -0.377em -0.74em 0 -0.42em, 
                -0.645em -0.522em 0 -0.44em, 
                -0.775em -0.297em 0 -0.46em, 
                -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 
                0 -0.83em 0 -0.42em, 
                0 -0.83em 0 -0.44em, 
                0 -0.83em 0 -0.46em, 
                0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}