.main-nav {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
  
  .nav-mob {
    display: none;
    width: 100%;
    text-align: center;
    .nav-mob-btn {
      color: white;
      font-size: 1.3em;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 50px;
      cursor: pointer;
      padding: 10px 30px;
    }
    
    @media screen and (max-width:510px) {
      display: block;
    }
  }
  
  .nav {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
    width: 500px;
    box-sizing: border-box;
    
    @media screen and (max-width:768px) {
      width: 400px;
    }
    @media screen and (max-width:510px) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $red_theme;
      -webkit-transform: none;
              transform: none;
      padding-top: 50px;
    }
    
  }
  
  a {
    float: left;
    color: white;
    font-size: 1.15em;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 50px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    @include transition(all .15s ease);
    &:hover:not(.active) {
      border-top: 3px solid $red_theme;
    }
    &.active {
      border-bottom: 3px solid $red_theme;
    }
    
    @media screen and (max-width:768px) {
      font-size: 1em;
      width: 80px;
    }
    @media screen and (max-width:510px) {
      display: block;
      border: none;
      font-size: 1.2em;
      text-align: center;
      height: auto;
      width: 100%;
      padding: 15px 0;
      &:hover {
        background-color: white;
        color: $red_theme;
      }
      &:hover:not(.active) {
        border: none;
      }
      &.active {
        border: none;
      }
    }
  }
  
  &.popup {
    animation: popup .6s ease;
  }
}

@keyframes popup {
  0%   { bottom: -30px; opacity: 0; }
  100% { bottom: 0; opacity: 1; }
}