.no-overflow {
  overflow: auto;
}
.todo-container {
  position: absolute;
  width: 700px;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
  padding: 0 10px;
  margin-bottom: 40px;
  @media screen and (max-width:768px) {
    width: 500px;
  }
  @media screen and (max-width:510px) {
    width: 100%;
  }
}
.todo-title {
  font-family: 'Sanchez', serif;
  font-size: 4em;
  text-transform: uppercase;
  color: $s_title_top;
  margin: 0 0 100px 0;
  .colored {
    color: $red_theme;
    font-size: 1.1em;
  }
  @media screen and (max-width:768px) {
    font-size: 3em;
  }
  @media screen and (max-width:510px) {
    font-size: 2.7em;
  }
}
.todo-content {
  width: 90%;
  margin: 0 auto;
  @media screen and (max-width:510px) {
    width: 95%;
  }
}
.todo-list-title {
  color: #3a3737;
  font-family: 'Sanchez', serif;
  font-size: 2.7em;
  font-weight: 600;
  @media screen and (max-width:510px) {
    font-size: 2.3em;
  }
}
.todo-list {
  list-style: none;
  margin: 0 0 50px 30px;
  padding: 0;
  @media screen and (max-width:510px) {
    margin: 0 0 40px 20px;
  }
}
.todo-list-item {
  color: #3a3737;
  font-size: 1.3em;
  font-weight: bold;
  margin: 7px 0;
  @media screen and (max-width:510px) {
     font-size: 1.1em;
  }
}
.checkbox-img {
  float: left;
  margin-right: 10px;
  position: relative;
  top: -3px;
  width: 27px;
  @media screen and (max-width:510px) {
    margin-right: 7px;
  }
}




