#work {
  display: none;
  @extend .c-section;
}
.work-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
  padding: 0 10px;
  margin-bottom: 40px;
  width: 100%;
}
.work-sample-wrapper {
  box-sizing: border-box;
  height: 200px;
  width: 33.33%;
  float: left;
  padding: 3px;
  position: relative;
  background-clip: content-box;
  
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  
  @media screen and (max-width:900px) {
    width: 50%;
  }
  @media screen and (max-width:510px) {
    width: 100%;
  }
  
  .work-sample {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 67, 54, 0.11);
    background-clip: content-box;
    border: 1px solid transparent;
    position: relative;
    &:hover .work-info{
      opacity: 1;
    }
  }
  .work-preview {
    width: 100%;
  }
  .work-info {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $red_theme;
    padding: 30px 20px;
    opacity: 0;
    transition: all .3s ease;
    .work-title {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
    .work-desc {
      font-size: 1.15em;
      font-weight: bold;
    }
  }
}