html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.c-section, #about, #work, #contact {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.selected-section {
  display: block !important; }

#main-filter {
  background-color: #f44336;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

#loader {
  background-color: #f44336;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  z-index: 100; }
  #loader.show {
    opacity: 1; }
  #loader .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #loader .spinner:after {
      content: "";
      display: block;
      color: white;
      font-size: 90px;
      text-indent: -9999em;
      overflow: hidden;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin: 72px auto;
      position: relative;
      -webkit-animation: load 1.65s infinite ease,  round 1.65s infinite ease;
      animation: load 1.65s infinite ease,  round 1.65s infinite ease; }

@-webkit-keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,  0 -0.83em 0 -0.42em,  0 -0.83em 0 -0.44em,  0 -0.83em 0 -0.46em,  0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,  0 -0.83em 0 -0.42em,  0 -0.83em 0 -0.44em,  0 -0.83em 0 -0.46em,  0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,  -0.087em -0.825em 0 -0.42em,  -0.173em -0.812em 0 -0.44em,  -0.256em -0.789em 0 -0.46em,  -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,  -0.555em -0.617em 0 -0.44em,  -0.671em -0.488em 0 -0.46em,  -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em,  -0.377em -0.74em 0 -0.42em,  -0.645em -0.522em 0 -0.44em,  -0.775em -0.297em 0 -0.46em,  -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em,  0 -0.83em 0 -0.42em,  0 -0.83em 0 -0.44em,  0 -0.83em 0 -0.46em,  0 -0.83em 0 -0.477em; } }
@keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,  0 -0.83em 0 -0.42em,  0 -0.83em 0 -0.44em,  0 -0.83em 0 -0.46em,  0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,  0 -0.83em 0 -0.42em,  0 -0.83em 0 -0.44em,  0 -0.83em 0 -0.46em,  0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,  -0.087em -0.825em 0 -0.42em,  -0.173em -0.812em 0 -0.44em,  -0.256em -0.789em 0 -0.46em,  -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em,  -0.338em -0.758em 0 -0.42em,  -0.555em -0.617em 0 -0.44em,  -0.671em -0.488em 0 -0.46em,  -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em,  -0.377em -0.74em 0 -0.42em,  -0.645em -0.522em 0 -0.44em,  -0.775em -0.297em 0 -0.46em,  -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em,  0 -0.83em 0 -0.42em,  0 -0.83em 0 -0.44em,  0 -0.83em 0 -0.46em,  0 -0.83em 0 -0.477em; } }
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.main-nav {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 10; }
  .main-nav .nav-mob {
    display: none;
    width: 100%;
    text-align: center; }
    .main-nav .nav-mob .nav-mob-btn {
      color: white;
      font-size: 1.3em;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 50px;
      cursor: pointer;
      padding: 10px 30px; }
    @media screen and (max-width: 510px) {
      .main-nav .nav-mob {
        display: block; } }
  .main-nav .nav {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 500px;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .main-nav .nav {
        width: 400px; } }
    @media screen and (max-width: 510px) {
      .main-nav .nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #f44336;
        -webkit-transform: none;
        transform: none;
        padding-top: 50px; } }
  .main-nav a {
    float: left;
    color: white;
    font-size: 1.15em;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 50px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease; }
    .main-nav a:hover:not(.active) {
      border-top: 3px solid #f44336; }
    .main-nav a.active {
      border-bottom: 3px solid #f44336; }
    @media screen and (max-width: 768px) {
      .main-nav a {
        font-size: 1em;
        width: 80px; } }
    @media screen and (max-width: 510px) {
      .main-nav a {
        display: block;
        border: none;
        font-size: 1.2em;
        text-align: center;
        height: auto;
        width: 100%;
        padding: 15px 0; }
        .main-nav a:hover {
          background-color: white;
          color: #f44336; }
        .main-nav a:hover:not(.active) {
          border: none; }
        .main-nav a.active {
          border: none; } }
  .main-nav.popup {
    animation: popup .6s ease; }

@keyframes popup {
  0% {
    bottom: -30px;
    opacity: 0; }
  100% {
    bottom: 0;
    opacity: 1; } }
#home {
  display: none;
  height: 100%; }

.home-container {
  position: absolute;
  top: 47%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  z-index: 2; }
  .home-container .my-logo {
    width: 250px;
    height: 287px;
    margin: 0 auto 20px auto;
    position: relative; }
    .home-container .my-logo img {
      width: 100%;
      height: 100%;
      opacity: 0.85; }
    .home-container .my-logo:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
  .home-container .title-top {
    color: white;
    font-size: 2.7em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .15em; }
  .home-container .title-bottom {
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: .07em;
    text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .home-container .my-logo {
      width: 230px;
      height: 264px;
      margin: 0 auto 15px auto; }
    .home-container .title-top {
      font-size: 2.5em; }
    .home-container .title-bottom {
      font-size: 1em; } }
  @media screen and (max-width: 450px) {
    .home-container .my-logo {
      width: 210px;
      height: 241px;
      margin: 0 auto 10px auto; }
    .home-container .title-top {
      font-size: 2.1em; } }

#particles-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.filter-canvas {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

#about {
  display: none; }

.about-container {
  position: absolute;
  width: 700px;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 0 10px;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .about-container {
      width: 500px; } }
  @media screen and (max-width: 510px) {
    .about-container {
      width: 100%; } }

.about-title {
  font-family: 'Sanchez', serif;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #d1d1d1;
  margin: 0 0 60px 0; }
  .about-title .colored {
    color: #f44336;
    font-size: 1.2em; }
  @media screen and (max-width: 510px) {
    .about-title {
      font-size: 3.7em; } }

.about-p {
  font-size: 1.3em;
  line-height: 1.6em;
  color: #8a8a8a;
  margin-bottom: 20px; }
  .about-p .mern-stack {
    font-size: 0.9em;
    font-weight: 600;
    font-style: italic;
    padding: 0 3px; }

.about-p.well-p {
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px; }

.about-keyword {
  color: #8a8a8a;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0 3px;
  transition: all .3s ease; }
  .about-keyword .link-txt {
    position: relative;
    z-index: 3; }
    .about-keyword .link-txt.link-txt-note:after {
      content: "*";
      position: relative;
      top: 0;
      left: 3px;
      color: #f44336; }
  .about-keyword .custom-link {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #f44336;
    border-radius: 0 0 1px 1px;
    transition: all .3s ease;
    z-index: 2; }
  .about-keyword:hover {
    color: white;
    text-decoration: none; }
    .about-keyword:hover .custom-link {
      border-radius: 3px;
      height: 100%; }
  .about-keyword:visited, .about-keyword:active {
    text-decoration: none; }

.about-skillz {
  width: 60%;
  margin: 70px auto; }
  @media screen and (max-width: 510px) {
    .about-skillz {
      width: 100%; } }

.about-skillz-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  overflow: hidden; }
  .about-skillz-list .skill {
    color: #8a8a8a;
    font-family: 'Sanchez', serif;
    font-size: 1.2em;
    float: left;
    width: 40%;
    padding: 10px 0;
    margin: 0 5%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; }
    .about-skillz-list .skill.skill-note:after {
      content: "*";
      position: relative;
      top: 0;
      left: 3px;
      color: #f44336; }

#work {
  display: none; }

.work-container {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 0 10px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1386px; }

.work-title-m {
  font-family: 'Sanchez', serif;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #d1d1d1;
  width: 700px;
  margin: 0 auto 100px auto; }
  .work-title-m .colored {
    color: #f44336;
    font-size: 1.2em; }
  @media screen and (max-width: 768px) {
    .work-title-m {
      width: 500px; } }
  @media screen and (max-width: 510px) {
    .work-title-m {
      font-size: 3.7em;
      width: 100%; } }

.work-sample-wrapper {
  box-sizing: border-box;
  height: auto;
  width: 33.33%;
  max-width: 445px;
  float: left;
  padding: 2px;
  position: relative; }
  @media screen and (max-width: 900px) {
    .work-sample-wrapper {
      width: 50%; } }
  @media screen and (max-width: 510px) {
    .work-sample-wrapper {
      float: none;
      width: 100%;
      margin: 0 auto; } }
  .work-sample-wrapper .work-sample {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative; }
    .work-sample-wrapper .work-sample:hover .work-info {
      opacity: 1; }
  .work-sample-wrapper .work-preview {
    width: 100%; }
  .work-sample-wrapper .work-info {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .5s ease; }
    .work-sample-wrapper .work-info .work-title {
      color: white;
      font-size: 1.3em;
      font-weight: bold;
      margin: 0 0 5px 0; }
    .work-sample-wrapper .work-info .work-desc {
      color: white;
      font-size: 1.1em;
      font-weight: bold; }

#contact {
  display: none; }

.contact-container {
  position: absolute;
  width: 700px;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 0 10px;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .contact-container {
      width: 500px; } }
  @media screen and (max-width: 510px) {
    .contact-container {
      width: 100%; } }

.contact-title {
  font-family: 'Sanchez', serif;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #d1d1d1;
  margin: 0 0 40px 0; }
  .contact-title .colored {
    color: #f44336;
    font-size: 1.2em; }
  @media screen and (max-width: 510px) {
    .contact-title {
      font-size: 4em; } }

.contact-description {
  font-size: 1.275em;
  line-height: 1.6em;
  color: #8a8a8a;
  margin-bottom: 70px; }

.contact-email {
  color: #f44336;
  font-weight: 600;
  text-decoration: none; }
  .contact-email:hover {
    color: #f44336;
    text-decoration: none; }

.contact-social-links {
  text-align: center; }
  .contact-social-links a {
    color: white;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    position: relative; }
    .contact-social-links a .link-bg {
      display: inline-block;
      background-color: #f44336;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      transition: all .2s ease; }
    .contact-social-links a i {
      display: inline-block;
      font-size: 2.12em;
      line-height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 10; }
    .contact-social-links a:hover .link-bg {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

.no-overflow {
  overflow: auto; }

.todo-container {
  position: absolute;
  width: 700px;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 0 10px;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .todo-container {
      width: 500px; } }
  @media screen and (max-width: 510px) {
    .todo-container {
      width: 100%; } }

.todo-title {
  font-family: 'Sanchez', serif;
  font-size: 4em;
  text-transform: uppercase;
  color: #d1d1d1;
  margin: 0 0 100px 0; }
  .todo-title .colored {
    color: #f44336;
    font-size: 1.1em; }
  @media screen and (max-width: 768px) {
    .todo-title {
      font-size: 3em; } }
  @media screen and (max-width: 510px) {
    .todo-title {
      font-size: 2.7em; } }

.todo-content {
  width: 90%;
  margin: 0 auto; }
  @media screen and (max-width: 510px) {
    .todo-content {
      width: 95%; } }

.todo-list-title {
  color: #3a3737;
  font-family: 'Sanchez', serif;
  font-size: 2.7em;
  font-weight: 600; }
  @media screen and (max-width: 510px) {
    .todo-list-title {
      font-size: 2.3em; } }

.todo-list {
  list-style: none;
  margin: 0 0 50px 30px;
  padding: 0; }
  @media screen and (max-width: 510px) {
    .todo-list {
      margin: 0 0 40px 20px; } }

.todo-list-item {
  color: #3a3737;
  font-size: 1.3em;
  font-weight: bold;
  margin: 7px 0; }
  @media screen and (max-width: 510px) {
    .todo-list-item {
      font-size: 1.1em; } }

.checkbox-img {
  float: left;
  margin-right: 10px;
  position: relative;
  top: -3px;
  width: 27px; }
  @media screen and (max-width: 510px) {
    .checkbox-img {
      margin-right: 7px; } }

/*# sourceMappingURL=main-styles.css.map */
